<h1 class="page-header" ng-if="movies && movies.total>0">{{movies.title}}</h1>
<div class="alert alert-danger" role="alert" ng-if="massage">{{massage}}</div>
<ul class="list-group" ng-if="movies && movies.total>0">
  <li class="list-group-item" ng-repeat="movie in movies.subjects">
    <span class="badge">{{movie.rating.average}}</span>
    <div class="media">
		<div class="media-left">
			<a ng-href="#/detail/{{movie.id}}">
				<img class="media-object" ng-src="{{movie.images.medium}}" alt="{{movie.alt}}">
			</a>
		</div>
		<div class="media-body">
			<h3 class="media-heading">{{movie.title}}</h3>
			<p>
				<span>类型：</span>
				<span>{{movie.genres.join('、')}}</span>
				&nbsp;&nbsp;&nbsp;
				<span>上映年份：</span>
				<span>{{movie.year}}</span>
			</p>
			<p>
				<span>导演：</span>
				<span ng-repeat="director in movie.directors">
					{{director.name}}{{!$last?'、':''}}
				</span>
			</p>
			<p>
				<span>主演：</span>
				<span ng-repeat="cast in movie.casts">
					{{cast.name}}{{!$last?'、':''}}
				</span>
			</p>
		</div>
	</div>
  </li>
</ul>
<div class="loading" ng-show="loading">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div ng-show="!loading">
	<p>总共<strong>{{total}}</strong>条记录，当前第<strong>{{currentpage}}</strong>页，共<strong>{{pagetotal}}</strong>页</p>
	<nav aria-label="...">
		<ul class="pager">
			<li class="previous" ng-class="{disabled:currentpage<=1}"><a href="javascritp:;" ng-click="go(currentpage-1)"><span aria-hidden="true">&larr;</span> 上一页</a></li>
			<li class="next" ng-class="{disabled:currentpage>=pagetotal}"><a href="javascritp:;" ng-click="go(currentpage+1)">下一页 <span aria-hidden="true">&rarr;</span></a></li>
		</ul>
	</nav>
</div>
